In [41]:
import numpy as np
import pandas as pd

In [42]:
df = pd.read_csv("cleaned_Dataset.csv")

In [43]:
df_new = pd.DataFrame(data = df, columns = ["anne_sektor","baba_sektor"])

In [44]:
df_new = df_new.replace(['0', '-'], 'Unknown')

# Or alternatively, use NaN and fill later:
# data = data.replace(['0', '-'], pd.NA)

In [45]:
df_new

       anne_sektor  baba_sektor
0          Unknown      Unknown
1             kamu      Unknown
2          Unknown  ozel sektor
3          Unknown      Unknown
4          Unknown         kamu
...            ...          ...
59105      Unknown  ozel sektor
59106      Unknown  ozel sektor
59107      Unknown  ozel sektor
59108      Unknown      Unknown
59109  ozel sektor         kamu

[59110 rows x 2 columns]

In [46]:
from sklearn.preprocessing import LabelEncoder

# Apply label encoding
label_encoder = LabelEncoder()

# Encoding 'anne_sektor' and 'baba_sektor' columns
df_new['anne_sektor_encoded'] = label_encoder.fit_transform(df_new['anne_sektor'])
df_new['baba_sektor_encoded'] = label_encoder.fit_transform(df_new['baba_sektor'])

In [47]:
df_new = pd.get_dummies(df_new, columns=['anne_sektor', 'baba_sektor'], prefix=['anne', 'baba'], dummy_na=True)

In [48]:
df_new = df_new.drop(["anne_nan","baba_nan"],axis =1)
df_new

,anne_sektor_encoded,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor
0,0,0,True,False,False,False,True,False,False,False
1,2,0,False,False,True,False,True,False,False,False
2,0,3,True,False,False,False,False,False,False,True
3,0,0,True,False,False,False,True,False,False,False
4,0,2,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
59105,0,3,True,False,False,False,False,False,False,True
59106,0,3,True,False,False,False,False,False,False,True
59107,0,3,True,False,False,False,False,False,False,True
59108,0,0,True,False,False,False,True,False,False,False
59109,3,2,False,False,False,True,False,False,True,False

In [49]:
df=df.drop(["anne_sektor","baba_sektor"],axis =1)

In [50]:
cleanedData = pd.concat([df,df_new],axis = 1)
cleanedData

,basvuru_yili,degerlendirme_puani,cinsiyet,dogum_tarihi,dogum_yeri,ikametgah_sehri,universite_adi,universite_turu,burslu_ise_burs_yuzdesi,burs_aliyor_mu?,...,anne_sektor_encoded,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor
0,2014,52.0,erkek,1994-04-06,"altindag, ankara",ankara,ihsan dogramaci bilkent,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
1,2014,30.0,erkek,1993-06-11,uskudar,istanbul,ihsan dogramaci bilkent,ozel,100.0,0,...,2,0,False,False,True,False,True,False,False,False
2,2014,18.0,erkek,1986-01-15,samsun,istanbul,uluslararasi kibris universitesi,ozel,100.0,0,...,0,3,True,False,False,False,False,False,False,True
3,2014,40.0,erkek,1991-06-04,diyarbakir,istanbul,istanbul sehir universitesi,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
4,2014,37.0,erkek,1992-04-14,istanbul,istanbul,istanbul ticaret universitesi,ozel,100.0,1,...,0,2,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59105,2022,0.0,erkek,2003-12-11,izmir,izmir,dokuz eylul universitesi,devlet,0.0,0,...,0,3,True,False,False,False,False,False,False,True
59106,2022,0.0,erkek,2003-06-18,istanbul,istanbul,istanbul aydin universitesi,ozel,0.0,1,...,0,3,True,False,False,False,False,False,False,True
59107,2022,0.0,erkek,2002-04-18,hatay,mugla,mugla sitki kocman universitesi,devlet,0.0,0,...,0,3,True,False,False,False,False,False,False,True
59108,2022,0.0,erkek,1999-10-23,mersin,mersin,suleyman demirel universitesi,devlet,0.0,0,...,0,0,True,False,False,False,True,False,False,False
59109,2022,0.0,erkek,2000-11-17,samsun,samsun,karabuk universitesi,devlet,0.0,0,...,3,2,False,False,False,True,False,False,True,False

In [51]:
cleanedData['cinsiyet'] = cleanedData['cinsiyet'].map({'erkek': 0, 'kadin': 1 ,"Belirtmek istemiyorum":-1})

In [52]:
cleanedData

,basvuru_yili,degerlendirme_puani,cinsiyet,dogum_tarihi,dogum_yeri,ikametgah_sehri,universite_adi,universite_turu,burslu_ise_burs_yuzdesi,burs_aliyor_mu?,...,anne_sektor_encoded,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor
0,2014,52.0,0.0,1994-04-06,"altindag, ankara",ankara,ihsan dogramaci bilkent,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
1,2014,30.0,0.0,1993-06-11,uskudar,istanbul,ihsan dogramaci bilkent,ozel,100.0,0,...,2,0,False,False,True,False,True,False,False,False
2,2014,18.0,0.0,1986-01-15,samsun,istanbul,uluslararasi kibris universitesi,ozel,100.0,0,...,0,3,True,False,False,False,False,False,False,True
3,2014,40.0,0.0,1991-06-04,diyarbakir,istanbul,istanbul sehir universitesi,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
4,2014,37.0,0.0,1992-04-14,istanbul,istanbul,istanbul ticaret universitesi,ozel,100.0,1,...,0,2,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59105,2022,0.0,0.0,2003-12-11,izmir,izmir,dokuz eylul universitesi,devlet,0.0,0,...,0,3,True,False,False,False,False,False,False,True
59106,2022,0.0,0.0,2003-06-18,istanbul,istanbul,istanbul aydin universitesi,ozel,0.0,1,...,0,3,True,False,False,False,False,False,False,True
59107,2022,0.0,0.0,2002-04-18,hatay,mugla,mugla sitki kocman universitesi,devlet,0.0,0,...,0,3,True,False,False,False,False,False,False,True
59108,2022,0.0,0.0,1999-10-23,mersin,mersin,suleyman demirel universitesi,devlet,0.0,0,...,0,0,True,False,False,False,True,False,False,False
59109,2022,0.0,0.0,2000-11-17,samsun,samsun,karabuk universitesi,devlet,0.0,0,...,3,2,False,False,False,True,False,False,True,False

In [53]:
cleanedData.to_csv("cleanedData.csv")

In [54]:
from datetime import datetime

In [55]:
cleanedData['dogum_tarihi'] = pd.to_datetime(cleanedData['dogum_tarihi'])

# Extract the year of birth
cleanedData['birth_year'] = cleanedData['dogum_tarihi'].dt.year
cleanedData['age'] = 2024 - cleanedData['birth_year']
cleanedData["age"]

0        30
1        31
2        38
3        33
4        32
         ..
59105    21
59106    21
59107    22
59108    25
59109    24
Name: age, Length: 59110, dtype: int32

In [56]:
cleanedData = cleanedData.drop(["birth_year","dogum_tarihi"],axis =1)

In [57]:
cleanedData.to_csv("cleanedData.csv")

In [58]:
list = []
for columns in cleanedData:
    list.append(columns)
list

['basvuru_yili',
 'degerlendirme_puani',
 'cinsiyet',
 'dogum_yeri',
 'ikametgah_sehri',
 'universite_adi',
 'universite_turu',
 'burslu_ise_burs_yuzdesi',
 'burs_aliyor_mu?',
 'bolum',
 'universite_kacinci_sinif',
 'universite_not_ortalamasi',
 'daha_once_baska_bir_universiteden_mezun_olmus',
 'lise_adi',
 'lise_adi_diger',
 'lise_sehir',
 'lise_turu',
 'lise_bolumu',
 'lise_bolum_diger',
 'lise_mezuniyet_notu',
 'baska_bir_kurumdan_burs_aliyor_mu?',
 'burs_aldigi_baska_kurum',
 'baska_kurumdan_aldigi_burs_miktari',
 'anne_egitim_durumu',
 'anne_calisma_durumu',
 'baba_egitim_durumu',
 'baba_calisma_durumu',
 'kardes_sayisi',
 'girisimcilik_kulupleri_tarzi_bir_kulube_uye_misiniz?',
 'uye_oldugunuz_kulubun_ismi',
 'profesyonel_bir_spor_daliyla_mesgul_musunuz?',
 'spor_dalindaki_rolunuz_nedir?',
 'aktif_olarak_bir_stk_uyesi_misiniz?',
 "hangi_stk'nin_uyesisiniz?",
 'stk_projesine_katildiniz_mi?',
 'girisimcilikle_ilgili_deneyiminiz_var_mi?',
 'girisimcilikle_ilgili_deneyiminizi_aciklayabilir_misiniz?',
 'ingilizce_biliyor_musunuz?',
 'ingilizce_seviyeniz?',
 'daha_onceden_mezun_olunduysa,_mezun_olunan_universite',
 'id',
 'anne_sektor_encoded',
 'baba_sektor_encoded',
 'anne_Unknown',
 'anne_diger',
 'anne_kamu',
 'anne_ozel sektor',
 'baba_Unknown',
 'baba_diger',
 'baba_kamu',
 'baba_ozel sektor',
 'age']

In [59]:
cleanedData

,basvuru_yili,degerlendirme_puani,cinsiyet,dogum_yeri,ikametgah_sehri,universite_adi,universite_turu,burslu_ise_burs_yuzdesi,burs_aliyor_mu?,bolum,...,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor,age
0,2014,52.0,0.0,"altindag, ankara",ankara,ihsan dogramaci bilkent,ozel,100.0,1,bilgisayar muhendisligi,...,0,True,False,False,False,True,False,False,False,30
1,2014,30.0,0.0,uskudar,istanbul,ihsan dogramaci bilkent,ozel,100.0,0,elektrik elektronik muhendisligi,...,0,False,False,True,False,True,False,False,False,31
2,2014,18.0,0.0,samsun,istanbul,uluslararasi kibris universitesi,ozel,100.0,0,finans yonetimi ve pazarlama,...,3,True,False,False,False,False,False,False,True,38
3,2014,40.0,0.0,diyarbakir,istanbul,istanbul sehir universitesi,ozel,100.0,1,bilgisayar muhendisligi,...,0,True,False,False,False,True,False,False,False,33
4,2014,37.0,0.0,istanbul,istanbul,istanbul ticaret universitesi,ozel,100.0,1,bankacilik ve finans,...,2,True,False,False,False,False,False,True,False,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59105,2022,0.0,0.0,izmir,izmir,dokuz eylul universitesi,devlet,0.0,0,diger,...,3,True,False,False,False,False,False,False,True,21
59106,2022,0.0,0.0,istanbul,istanbul,istanbul aydin universitesi,ozel,0.0,1,muhasebe,...,3,True,False,False,False,False,False,False,True,21
59107,2022,0.0,0.0,hatay,mugla,mugla sitki kocman universitesi,devlet,0.0,0,turizm isletmeciligi,...,3,True,False,False,False,False,False,False,True,22
59108,2022,0.0,0.0,mersin,mersin,suleyman demirel universitesi,devlet,0.0,0,otomotiv muhendisligi,...,0,True,False,False,False,True,False,False,False,25
59109,2022,0.0,0.0,samsun,samsun,karabuk universitesi,devlet,0.0,0,sanat tarihi,...,2,False,False,False,True,False,False,True,False,24