In [286]:
import numpy as np
import pandas as pd

In [288]:
df = pd.read_csv("cleaned_Dataset.csv")

In [289]:
df_new = pd.DataFrame(data = df, columns = ["anne_sektor","baba_sektor"])

In [290]:
df_new = df_new.replace(['0', '-'], 'Unknown')

# Or alternatively, use NaN and fill later:
# data = data.replace(['0', '-'], pd.NA)

In [291]:
df_new

       anne_sektor  baba_sektor
0          Unknown      Unknown
1             kamu      Unknown
2          Unknown      Unknown
3          Unknown         kamu
4          Unknown      Unknown
...            ...          ...
46063      Unknown        diger
46064      Unknown  ozel sektor
46065      Unknown  ozel sektor
46066      Unknown      Unknown
46067  ozel sektor         kamu

[46068 rows x 2 columns]

In [292]:
from sklearn.preprocessing import LabelEncoder

# Apply label encoding
label_encoder = LabelEncoder()

# Encoding 'anne_sektor' and 'baba_sektor' columns
df_new['anne_sektor_encoded'] = label_encoder.fit_transform(df_new['anne_sektor'])
df_new['baba_sektor_encoded'] = label_encoder.fit_transform(df_new['baba_sektor'])

In [293]:
df_new = pd.get_dummies(df_new, columns=['anne_sektor', 'baba_sektor'], prefix=['anne', 'baba'], dummy_na=True)

In [294]:
df_new = df_new.drop(["anne_nan","baba_nan"],axis =1)
df_new

,anne_sektor_encoded,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor
0,0,0,True,False,False,False,True,False,False,False
1,2,0,False,False,True,False,True,False,False,False
2,0,0,True,False,False,False,True,False,False,False
3,0,2,True,False,False,False,False,False,True,False
4,0,0,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
46063,0,1,True,False,False,False,False,True,False,False
46064,0,3,True,False,False,False,False,False,False,True
46065,0,3,True,False,False,False,False,False,False,True
46066,0,0,True,False,False,False,True,False,False,False
46067,3,2,False,False,False,True,False,False,True,False

In [297]:
df=df.drop(["anne_sektor","baba_sektor"],axis =1)

In [300]:
cleanedData = pd.concat([df,df_new],axis = 1)
cleanedData

,basvuru_yili,degerlendirme_puani,cinsiyet,dogum_tarihi,dogum_yeri,ikametgah_sehri,universite_adi,universite_turu,burslu_ise_burs_yuzdesi,burs_aliyor_mu?,...,anne_sektor_encoded,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor
0,2014,52.0,erkek,1994-04-06,"altindag, ankara",ankara,ihsan dogramaci bilkent,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
1,2014,30.0,erkek,1993-06-11,uskudar,istanbul,ihsan dogramaci bilkent,ozel,100.0,0,...,2,0,False,False,True,False,True,False,False,False
2,2014,40.0,erkek,1991-06-04,diyarbakir,istanbul,istanbul sehir universitesi,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
3,2014,37.0,erkek,1992-04-14,istanbul,istanbul,istanbul ticaret universitesi,ozel,100.0,1,...,0,2,True,False,False,False,False,False,True,False
4,2014,24.0,erkek,1993-03-18,istanbul,istanbul,fatih sultan mehmet vakif,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46063,2022,0.0,erkek,2002-03-26,trabzon,trabzon,trabzon universitesi,devlet,0.0,0,...,0,1,True,False,False,False,False,True,False,False
46064,2022,0.0,erkek,2003-12-11,izmir,izmir,dokuz eylul universitesi,devlet,0.0,0,...,0,3,True,False,False,False,False,False,False,True
46065,2022,0.0,erkek,2003-06-18,istanbul,istanbul,istanbul aydin universitesi,ozel,0.0,1,...,0,3,True,False,False,False,False,False,False,True
46066,2022,0.0,erkek,1999-10-23,mersin,mersin,suleyman demirel universitesi,devlet,0.0,0,...,0,0,True,False,False,False,True,False,False,False
46067,2022,0.0,erkek,2000-11-17,samsun,samsun,karabuk universitesi,devlet,0.0,0,...,3,2,False,False,False,True,False,False,True,False

In [304]:
cleanedData['cinsiyet'] = cleanedData['cinsiyet'].map({'Erkek': 0, 'Kadin': 1 ,"Belirtmek istemiyorum":-1})

In [305]:
cleanedData

,basvuru_yili,degerlendirme_puani,cinsiyet,dogum_tarihi,dogum_yeri,ikametgah_sehri,universite_adi,universite_turu,burslu_ise_burs_yuzdesi,burs_aliyor_mu?,...,anne_sektor_encoded,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor
0,2014,52.0,NaN,1994-04-06,"altindag, ankara",ankara,ihsan dogramaci bilkent,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
1,2014,30.0,NaN,1993-06-11,uskudar,istanbul,ihsan dogramaci bilkent,ozel,100.0,0,...,2,0,False,False,True,False,True,False,False,False
2,2014,40.0,NaN,1991-06-04,diyarbakir,istanbul,istanbul sehir universitesi,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
3,2014,37.0,NaN,1992-04-14,istanbul,istanbul,istanbul ticaret universitesi,ozel,100.0,1,...,0,2,True,False,False,False,False,False,True,False
4,2014,24.0,NaN,1993-03-18,istanbul,istanbul,fatih sultan mehmet vakif,ozel,100.0,1,...,0,0,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46063,2022,0.0,NaN,2002-03-26,trabzon,trabzon,trabzon universitesi,devlet,0.0,0,...,0,1,True,False,False,False,False,True,False,False
46064,2022,0.0,NaN,2003-12-11,izmir,izmir,dokuz eylul universitesi,devlet,0.0,0,...,0,3,True,False,False,False,False,False,False,True
46065,2022,0.0,NaN,2003-06-18,istanbul,istanbul,istanbul aydin universitesi,ozel,0.0,1,...,0,3,True,False,False,False,False,False,False,True
46066,2022,0.0,NaN,1999-10-23,mersin,mersin,suleyman demirel universitesi,devlet,0.0,0,...,0,0,True,False,False,False,True,False,False,False
46067,2022,0.0,NaN,2000-11-17,samsun,samsun,karabuk universitesi,devlet,0.0,0,...,3,2,False,False,False,True,False,False,True,False

In [307]:
cleanedData.to_csv("cleanedData.csv")

In [309]:
from datetime import datetime

In [311]:
cleanedData['dogum_tarihi'] = pd.to_datetime(cleanedData['dogum_tarihi'])

# Extract the year of birth
cleanedData['birth_year'] = cleanedData['dogum_tarihi'].dt.year
cleanedData['age'] = 2024 - cleanedData['birth_year']
cleanedData["age"]

0        30
1        31
2        33
3        32
4        31
         ..
46063    22
46064    21
46065    21
46066    25
46067    24
Name: age, Length: 46068, dtype: int32

In [313]:
cleanedData = cleanedData.drop(["birth_year","dogum_tarihi"],axis =1)

In [314]:
cleanedData.to_csv("cleanedData.csv")

In [315]:
list = []
for columns in cleanedData:
    list.append(columns)
list

['basvuru_yili',
 'degerlendirme_puani',
 'cinsiyet',
 'dogum_yeri',
 'ikametgah_sehri',
 'universite_adi',
 'universite_turu',
 'burslu_ise_burs_yuzdesi',
 'burs_aliyor_mu?',
 'bolum',
 'universite_kacinci_sinif',
 'universite_not_ortalamasi',
 'daha_once_baska_bir_universiteden_mezun_olmus',
 'lise_adi',
 'lise_adi_diger',
 'lise_sehir',
 'lise_turu',
 'lise_bolumu',
 'lise_bolum_diger',
 'lise_mezuniyet_notu',
 'baska_bir_kurumdan_burs_aliyor_mu?',
 'burs_aldigi_baska_kurum',
 'baska_kurumdan_aldigi_burs_miktari',
 'anne_egitim_durumu',
 'anne_calisma_durumu',
 'baba_egitim_durumu',
 'baba_calisma_durumu',
 'kardes_sayisi',
 'girisimcilik_kulupleri_tarzi_bir_kulube_uye_misiniz?',
 'uye_oldugunuz_kulubun_ismi',
 'profesyonel_bir_spor_daliyla_mesgul_musunuz?',
 'spor_dalindaki_rolunuz_nedir?',
 'aktif_olarak_bir_stk_uyesi_misiniz?',
 "hangi_stk'nin_uyesisiniz?",
 'stk_projesine_katildiniz_mi?',
 'girisimcilikle_ilgili_deneyiminiz_var_mi?',
 'girisimcilikle_ilgili_deneyiminizi_aciklayabilir_misiniz?',
 'ingilizce_biliyor_musunuz?',
 'ingilizce_seviyeniz?',
 'daha_onceden_mezun_olunduysa,_mezun_olunan_universite',
 'id',
 'anne_sektor_encoded',
 'baba_sektor_encoded',
 'anne_Unknown',
 'anne_diger',
 'anne_kamu',
 'anne_ozel sektor',
 'baba_Unknown',
 'baba_diger',
 'baba_kamu',
 'baba_ozel sektor',
 'age']

In [316]:
cleanedData

,basvuru_yili,degerlendirme_puani,cinsiyet,dogum_yeri,ikametgah_sehri,universite_adi,universite_turu,burslu_ise_burs_yuzdesi,burs_aliyor_mu?,bolum,...,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor,age
0,2014,52.0,NaN,"altindag, ankara",ankara,ihsan dogramaci bilkent,ozel,100.0,1,bilgisayar muhendisligi,...,0,True,False,False,False,True,False,False,False,30
1,2014,30.0,NaN,uskudar,istanbul,ihsan dogramaci bilkent,ozel,100.0,0,elektrik elektronik muhendisligi,...,0,False,False,True,False,True,False,False,False,31
2,2014,40.0,NaN,diyarbakir,istanbul,istanbul sehir universitesi,ozel,100.0,1,bilgisayar muhendisligi,...,0,True,False,False,False,True,False,False,False,33
3,2014,37.0,NaN,istanbul,istanbul,istanbul ticaret universitesi,ozel,100.0,1,bankacilik ve finans,...,2,True,False,False,False,False,False,True,False,32
4,2014,24.0,NaN,istanbul,istanbul,fatih sultan mehmet vakif,ozel,100.0,1,bilgisayar muhendisligi,...,0,True,False,False,False,True,False,False,False,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46063,2022,0.0,NaN,trabzon,trabzon,trabzon universitesi,devlet,0.0,0,diger,...,1,True,False,False,False,False,True,False,False,22
46064,2022,0.0,NaN,izmir,izmir,dokuz eylul universitesi,devlet,0.0,0,diger,...,3,True,False,False,False,False,False,False,True,21
46065,2022,0.0,NaN,istanbul,istanbul,istanbul aydin universitesi,ozel,0.0,1,muhasebe,...,3,True,False,False,False,False,False,False,True,21
46066,2022,0.0,NaN,mersin,mersin,suleyman demirel universitesi,devlet,0.0,0,otomotiv muhendisligi,...,0,True,False,False,False,True,False,False,False,25
46067,2022,0.0,NaN,samsun,samsun,karabuk universitesi,devlet,0.0,0,sanat tarihi,...,2,False,False,False,True,False,False,True,False,24