In [66]:
import numpy as np
import pandas as pd

In [67]:
df = pd.read_csv("cleaned_Test.csv")

In [68]:
df_new = pd.DataFrame(data = df, columns = ["anne_sektor","baba_sektor"])

In [69]:
df_new = df_new.replace(['0', '-'], 'Unknown')

# Or alternatively, use NaN and fill later:
# data = data.replace(['0', '-'], pd.NA)

In [70]:
df_new

      anne_sektor  baba_sektor
0     ozel sektor        diger
1            kamu         kamu
2            kamu         kamu
3         Unknown      Unknown
4         Unknown      Unknown
...           ...          ...
9936      Unknown        diger
9937      Unknown      Unknown
9938      Unknown         kamu
9939      Unknown        diger
9940      Unknown  ozel sektor

[9941 rows x 2 columns]

In [71]:
from sklearn.preprocessing import LabelEncoder

# Apply label encoding
label_encoder = LabelEncoder()

# Encoding 'anne_sektor' and 'baba_sektor' columns
df_new['anne_sektor_encoded'] = label_encoder.fit_transform(df_new['anne_sektor'])
df_new['baba_sektor_encoded'] = label_encoder.fit_transform(df_new['baba_sektor'])

In [72]:
df_new = pd.get_dummies(df_new, columns=['anne_sektor', 'baba_sektor'], prefix=['anne', 'baba'], dummy_na=True)

In [73]:
df_new = df_new.drop(["anne_nan","baba_nan"],axis =1)
df_new

,anne_sektor_encoded,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor
0,3,1,False,False,False,True,False,True,False,False
1,2,2,False,False,True,False,False,False,True,False
2,2,2,False,False,True,False,False,False,True,False
3,0,0,True,False,False,False,True,False,False,False
4,0,0,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
9936,0,1,True,False,False,False,False,True,False,False
9937,0,0,True,False,False,False,True,False,False,False
9938,0,2,True,False,False,False,False,False,True,False
9939,0,1,True,False,False,False,False,True,False,False
9940,0,3,True,False,False,False,False,False,False,True

In [74]:
df=df.drop(["anne_sektor","baba_sektor"],axis =1)

In [75]:
cleanedData = pd.concat([df,df_new],axis = 1)
cleanedData

,basvuru_yili,cinsiyet,dogum_tarihi,dogum_yeri,ikametgah_sehri,universite_adi,universite_turu,burslu_ise_burs_yuzdesi,burs_aliyor_mu?,bolum,...,anne_sektor_encoded,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor
0,2023,kadin,2002-06-21,amasya,amasya,munzur universitesi,devlet,0.0,0,sosyal hizmet,...,3,1,False,False,False,True,False,True,False,False
1,2023,erkek,2002-01-26,samsun,istanbul,bogazici universitesi,devlet,0.0,0,isletme,...,2,2,False,False,True,False,False,False,True,False
2,2023,erkek,2003-02-01,isparta,izmir,izmir yuksek teknoloji enstitusu,devlet,0.0,0,bilgisayar muhendisligi,...,2,2,False,False,True,False,False,False,True,False
3,2023,erkek,2001-12-01,hatay,kirsehir,kirsehir ahi evran universitesi,devlet,0.0,0,hemsirelik,...,0,0,True,False,False,False,True,False,False,False
4,2023,kadin,2000-08-01,adiyaman,adiyaman,kirsehir ahi evran universitesi,devlet,0.0,0,cocuk gelisimi,...,0,0,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,2023,kadin,2001-01-19,ankara,ankara,balikesir universitesi,devlet,0.0,0,bilgisayar muhendisligi,...,0,1,True,False,False,False,False,True,False,False
9937,2023,kadin,2002-03-01,yozgat,ankara,gazi universitesi,devlet,0.0,0,endustri muhendisligi,...,0,0,True,False,False,False,True,False,False,False
9938,2023,kadin,2001-09-09,konya,konya,nigde omer halisdemir universitesi,devlet,0.0,0,gida muhendisligi,...,0,2,True,False,False,False,False,False,True,False
9939,2023,kadin,2001-10-16,adiyaman,istanbul,bursa uludag universitesi,devlet,0.0,0,"molekuler biyoloji, genetik ve biyomuhendislik",...,0,1,True,False,False,False,False,True,False,False
9940,2023,kadin,1999-09-22,nigde,ankara,hacettepe universitesi,devlet,0.0,0,endustri muhendisligi,...,0,3,True,False,False,False,False,False,False,True

In [76]:
cleanedData['cinsiyet'] = cleanedData['cinsiyet'].map({'erkek': 0, 'kadin': 1 ,"Belirtmek istemiyorum":-1})

In [77]:
cleanedData

,basvuru_yili,cinsiyet,dogum_tarihi,dogum_yeri,ikametgah_sehri,universite_adi,universite_turu,burslu_ise_burs_yuzdesi,burs_aliyor_mu?,bolum,...,anne_sektor_encoded,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor
0,2023,1.0,2002-06-21,amasya,amasya,munzur universitesi,devlet,0.0,0,sosyal hizmet,...,3,1,False,False,False,True,False,True,False,False
1,2023,0.0,2002-01-26,samsun,istanbul,bogazici universitesi,devlet,0.0,0,isletme,...,2,2,False,False,True,False,False,False,True,False
2,2023,0.0,2003-02-01,isparta,izmir,izmir yuksek teknoloji enstitusu,devlet,0.0,0,bilgisayar muhendisligi,...,2,2,False,False,True,False,False,False,True,False
3,2023,0.0,2001-12-01,hatay,kirsehir,kirsehir ahi evran universitesi,devlet,0.0,0,hemsirelik,...,0,0,True,False,False,False,True,False,False,False
4,2023,1.0,2000-08-01,adiyaman,adiyaman,kirsehir ahi evran universitesi,devlet,0.0,0,cocuk gelisimi,...,0,0,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,2023,1.0,2001-01-19,ankara,ankara,balikesir universitesi,devlet,0.0,0,bilgisayar muhendisligi,...,0,1,True,False,False,False,False,True,False,False
9937,2023,1.0,2002-03-01,yozgat,ankara,gazi universitesi,devlet,0.0,0,endustri muhendisligi,...,0,0,True,False,False,False,True,False,False,False
9938,2023,1.0,2001-09-09,konya,konya,nigde omer halisdemir universitesi,devlet,0.0,0,gida muhendisligi,...,0,2,True,False,False,False,False,False,True,False
9939,2023,1.0,2001-10-16,adiyaman,istanbul,bursa uludag universitesi,devlet,0.0,0,"molekuler biyoloji, genetik ve biyomuhendislik",...,0,1,True,False,False,False,False,True,False,False
9940,2023,1.0,1999-09-22,nigde,ankara,hacettepe universitesi,devlet,0.0,0,endustri muhendisligi,...,0,3,True,False,False,False,False,False,False,True

In [78]:
cleanedData.to_csv("cleanedData.csv")

In [79]:
from datetime import datetime

In [80]:
cleanedData['dogum_tarihi'] = pd.to_datetime(cleanedData['dogum_tarihi'])

# Extract the year of birth
cleanedData['birth_year'] = cleanedData['dogum_tarihi'].dt.year
cleanedData['age'] = 2024 - cleanedData['birth_year']
cleanedData["age"]

0       22
1       22
2       21
3       23
4       24
        ..
9936    23
9937    22
9938    23
9939    23
9940    25
Name: age, Length: 9941, dtype: int32

In [81]:
cleanedData = cleanedData.drop(["birth_year","dogum_tarihi"],axis =1)

In [82]:
cleanedData.to_csv("cleanTest.csv")

In [83]:
list = []
for columns in cleanedData:
    list.append(columns)
list

['basvuru_yili',
 'cinsiyet',
 'dogum_yeri',
 'ikametgah_sehri',
 'universite_adi',
 'universite_turu',
 'burslu_ise_burs_yuzdesi',
 'burs_aliyor_mu?',
 'bolum',
 'universite_kacinci_sinif',
 'universite_not_ortalamasi',
 'daha_once_baska_bir_universiteden_mezun_olmus',
 'lise_adi',
 'lise_adi_diger',
 'lise_sehir',
 'lise_turu',
 'lise_bolumu',
 'lise_bolum_diger',
 'lise_mezuniyet_notu',
 'baska_bir_kurumdan_burs_aliyor_mu?',
 'burs_aldigi_baska_kurum',
 'baska_kurumdan_aldigi_burs_miktari',
 'anne_egitim_durumu',
 'anne_calisma_durumu',
 'baba_egitim_durumu',
 'baba_calisma_durumu',
 'kardes_sayisi',
 'girisimcilik_kulupleri_tarzi_bir_kulube_uye_misiniz?',
 'uye_oldugunuz_kulubun_ismi',
 'profesyonel_bir_spor_daliyla_mesgul_musunuz?',
 'spor_dalindaki_rolunuz_nedir?',
 'aktif_olarak_bir_stk_uyesi_misiniz?',
 "hangi_stk'nin_uyesisiniz?",
 'stk_projesine_katildiniz_mi?',
 'girisimcilikle_ilgili_deneyiminiz_var_mi?',
 'girisimcilikle_ilgili_deneyiminizi_aciklayabilir_misiniz?',
 'ingilizce_biliyor_musunuz?',
 'ingilizce_seviyeniz?',
 'daha_onceden_mezun_olunduysa,_mezun_olunan_universite',
 'id',
 'anne_sektor_encoded',
 'baba_sektor_encoded',
 'anne_Unknown',
 'anne_diger',
 'anne_kamu',
 'anne_ozel sektor',
 'baba_Unknown',
 'baba_diger',
 'baba_kamu',
 'baba_ozel sektor',
 'age']

In [84]:
cleanedData

,basvuru_yili,cinsiyet,dogum_yeri,ikametgah_sehri,universite_adi,universite_turu,burslu_ise_burs_yuzdesi,burs_aliyor_mu?,bolum,universite_kacinci_sinif,...,baba_sektor_encoded,anne_Unknown,anne_diger,anne_kamu,anne_ozel sektor,baba_Unknown,baba_diger,baba_kamu,baba_ozel sektor,age
0,2023,1.0,amasya,amasya,munzur universitesi,devlet,0.0,0,sosyal hizmet,1,...,1,False,False,False,True,False,True,False,False,22
1,2023,0.0,samsun,istanbul,bogazici universitesi,devlet,0.0,0,isletme,3,...,2,False,False,True,False,False,False,True,False,22
2,2023,0.0,isparta,izmir,izmir yuksek teknoloji enstitusu,devlet,0.0,0,bilgisayar muhendisligi,2,...,2,False,False,True,False,False,False,True,False,21
3,2023,0.0,hatay,kirsehir,kirsehir ahi evran universitesi,devlet,0.0,0,hemsirelik,4,...,0,True,False,False,False,True,False,False,False,23
4,2023,1.0,adiyaman,adiyaman,kirsehir ahi evran universitesi,devlet,0.0,0,cocuk gelisimi,4,...,0,True,False,False,False,True,False,False,False,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,2023,1.0,ankara,ankara,balikesir universitesi,devlet,0.0,0,bilgisayar muhendisligi,4,...,1,True,False,False,False,False,True,False,False,23
9937,2023,1.0,yozgat,ankara,gazi universitesi,devlet,0.0,0,endustri muhendisligi,2,...,0,True,False,False,False,True,False,False,False,22
9938,2023,1.0,konya,konya,nigde omer halisdemir universitesi,devlet,0.0,0,gida muhendisligi,3,...,2,True,False,False,False,False,False,True,False,23
9939,2023,1.0,adiyaman,istanbul,bursa uludag universitesi,devlet,0.0,0,"molekuler biyoloji, genetik ve biyomuhendislik",4,...,1,True,False,False,False,False,True,False,False,23
9940,2023,1.0,nigde,ankara,hacettepe universitesi,devlet,0.0,0,endustri muhendisligi,4,...,3,True,False,False,False,False,False,False,True,25